{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "target": "es2021",
    "keepClassNames": true,
    "baseUrl": "/app",
    "paths": {
      "@gitroom/backend/*": ["apps/backend/src/*"],
      "@gitroom/frontend/*": ["apps/frontend/src/*"],
      "@gitroom/helpers/*": ["libraries/helpers/src/*"],
      "@gitroom/nestjs-libraries/*": ["libraries/nestjs-libraries/src/*"],
      "@gitroom/react/*": ["libraries/react-shared-libraries/src/*"],
      "@gitroom/orchestrator/*": ["apps/orchestrator/src/*"]
    }
  },
  "module": {
    "type": "commonjs",
    "strict": false,
    "strictMode": true,
    "lazy": false,
    "noInterop": false
  },
  "sourceMaps": true,
  "minify": false
}
